/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2023, 6:08:08 PM
    Author     : M. K. S. T. Sampath
*/
@font-face {
    font-family: "CC";
    src: url(../src/vendor/font-awesome/fonts/Chococooky.ttf);
}

body{
    background-color: #ffffff;
}

#nav{
    border: none;
    padding: 30px;
    background-color: black;
    position: fixed;
}

#footer{
    padding: 30px;
    color: #fff;
}

#nav .nav-image{
    height: 70px;
}

#nav ul li{
    font-family: 'CC';
}

#nav ul li .active{
    color: red;
}
.heddings{
    font-family: "CC";
    text-align: center;
}
.heddings h1 {
    display: inline;
    background: linear-gradient(to left, #1e00ff, #151d8b 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    font-size: 30px;
}