/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2023, 6:08:08 PM
    Author     : M. K. S. T. Sampath
*/
@font-face {
    font-family: "CC";
    src: url(../src/vendor/font-awesome/fonts/Chococooky.ttf);
}

body{
    background-color: #ffffff;
}

#nav{
    border: none;
    padding: 30px;
    background-color: black;
    position: relative;
}

#footer{
    padding: 30px;
    color: #ffffff;
}

#nav .nav-image{
    height: 70px;
}

#nav ul li{
    font-family: 'CC';
}

#nav ul li .active{
    color: rgb(0, 255, 4);
}
.heddings{
    font-family: "CC";
    text-align: center;
}
.heddings h1 {
    display: inline;
    background: linear-gradient(to left, #1e00ff, #151d8b 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    font-size: 30px;
}
.container img{
    width: 100%;
    border: none;
    padding: none;
    position: relative;
}
.container-doctor:hover{
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow:0 5px 20px rgba(0,0,0,0.1);
    box-shadow:0 5px 20px rgba(0,0,0,0.1)
}
.img-doctor{
    background-color: rgb(240, 255, 242);
}
.doctor-head{
    margin-bottom: none;
    background-color: rgb(204, 252, 206);
    color: black;
}
.doctor-head :hover{
    background:linear-gradient(to right, #00ffb7, #000000);
    color: aliceblue;
}